.nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #557EBF;
}

a.nav-item {
  color: white;
  margin-right: 10px;
}

img.community-logo {
  width: 270px;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {

  img.community-logo {
    width: 200px;
    height: 30px;
  }

  .nav {
    height: 45px;
  }
}
