.nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #557EBF;
}

a.nav-item {
  color: white;
}

img.community-logo {
  width: 270px;
  height: 50px;
  margin-left: 20px;
}
