body {

}
@media only screen and (max-width: 700px) {
  body {
       height:1200px;
       margin: 0;
       padding: 0;
  }
  html {
    margin: 0;
    padding: 0;
  }
}

html {
  font-family: sans-serif;
  height: 100%;
  background-image: url("citybackground.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;

}
.button.submit-description {
  background: linear-gradient(#557ebf, #3f69c5);
}
a.button.submit-topic.is-large:hover {
    background: #40e0d0;
}
.button.upload-file {

  background: linear-gradient(#557ebf, #3f69c5);
}
button.button.upload-file:hover {

  background: #40e0d0;
}

/*div {
  border-style: solid;
  border-width: 1px;
}*/