@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

h1.share {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  margin: 40px 0px 40px 0px
}
h1.share.arrow {
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  margin: 40px 0px 40px 0px;
}
.card {
  width: 500px;
  margin: 20px auto 20px auto;
  border-radius: 10px
}

.card-content {
  margin-top: 0px;
  padding: 0px;
}

div.content {
  padding: 10px;
}

p.title.is-4 {
  margin-bottom: 0px;
}

@media only screen and (max-width: 500px) {
    .card {
       width:100%;
       margin: 20px auto 20px auto;
    }
    div.container.topics-page-canvas {
      padding: 0px;
    }
}


.fa-arrow-circle-o-up {
   background:  black;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   opacity: .4;
}

.fa-arrow-circle-o-up:hover {
   background: #14e653;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .8;
}


.fa-arrow-circle-o-up.voted {
   background: #14e653;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-arrow-circle-o-down {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .4;
}

.fa-arrow-circle-o-down:hover {
  background: #a42d2d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}
.fa-arrow-circle-o-down.voted {
  background: #a42d2d;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.content {
  padding-right: 20px;
}

.container {
 background-color: white;
}

div.topics-page-canvas {
  height: 100%;
  padding: 100px 50px 0px 50px;
  background: transparent;

}

.upvoteCount {
  color: green;
  font-size: 20px;
  margin-left: 5px;
}

.downvoteCount {
  color: red;
  font-size: 20px;
  margin-left: 5px;
}

div.votes {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -15px;
  right: -20px;
}

img.topic-image {
  padding: 0px;
  margin-top: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

img.pointer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  margin-bottom: 50px;

  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}